Repository klajbard/clicker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Extend readme add few comments
  README.md
  src/App.tsx
  src/config.ts
  src/store/main.ts
  src/worker.js
Due: prettier --write, eslint --fix

Align design, add hit effect
  src/App.tsx
  src/components/Items/ProducerItem.tsx
  src/components/Items/UpgradeItem.tsx
  src/components/Items/styled.ts
  src/components/Trigger/Trigger.tsx
  src/styled.ts
Due: prettier --write, eslint --fix

Add favicons, manifests, etc
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-384x384.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: prettier --write

Minor refactor
  src/App.tsx
  src/components/Trigger/Trigger.tsx
  src/hooks/useWorker.ts
Due: prettier --write, eslint --fix

Fine-tune logic
  src/App.tsx
  src/components/Items/ProducerItem.tsx
  src/components/Items/UpgradeItem.tsx
  src/components/Trigger/Trigger.tsx
  src/config.ts
  src/hooks/useWorker.ts
  src/store/main.ts
  src/store/types.ts
  src/types.ts
Due: prettier --write, eslint --fix

Add vitest, adjust core logic
  package.json
  src/App.tsx
  src/components/Items/ProducerItem.tsx
  src/components/Items/UpgradeItem.tsx
  src/components/Items/styled.ts
  src/components/Stat/Stat.tsx
  src/components/Trigger/Trigger.tsx
  src/config.ts
  src/icons/icons.tsx
  src/store/main.ts
  src/styled.ts
  src/types.ts
  src/utils/calculate.test.ts
  src/utils/calculate.ts
  yarn.lock
Due: prettier --write, eslint --fix

Add few colors
  index.html
  package.json
  src/App.tsx
  src/components/Items/styled.ts
  src/components/Trigger/Trigger.tsx
  src/store/main.ts
  src/styled.ts
  src/theme.ts
  yarn.lock
Due: prettier --write, eslint --fix

Add gif to readme
  .github/clicker.gif
  README.md
Due: prettier --write

Minor changes, upgrade packages
  .eslintrc
  package.json
  src/App.tsx
  src/components/Items/ProducerItem.tsx
  src/components/Items/UpgradeItem.tsx
  src/components/Items/utils.ts
  src/components/SaveProgress/SaveProgress.tsx
  src/components/Stat/Stat.tsx
  src/components/Trigger/Trigger.tsx
  src/components/Trigger/styled.ts
  src/config.ts
  src/hooks/useConfig.ts
  src/hooks/useWorker.ts
  src/icons/icons.tsx
  src/index.tsx
  src/types.ts
  tsconfig.json
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Change yarn to pnpm
  .husky/pre-commit
  README.md
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

complete revamp
  .github/clicker.gif
  README.md
  index.html
  src/App.tsx
  src/components/Achievements/Achievements.tsx
  src/components/Achievements/styled.ts
  src/components/GoldenCookie/GoldenCookie.tsx
  src/components/GoldenCookie/styled.ts
  src/components/Items/ProducerItem.tsx
  src/components/Items/UpgradeItem.tsx
  src/components/Items/styled.ts
  src/components/Items/utils.ts
  src/components/OfflineProgress/OfflineProgress.tsx
  src/components/OfflineProgress/styled.ts
  src/components/Prestige/Prestige.tsx
  src/components/Prestige/styled.ts
  src/components/Settings/Settings.tsx
  src/components/Settings/styled.ts
  src/components/Stat/Stat.tsx
  src/components/Stats/Stats.tsx
  src/components/Stats/styled.ts
  src/components/Toast/Toast.tsx
  src/components/Toast/styled.ts
  src/components/Trigger/Trigger.tsx
  src/components/Trigger/styled.ts
  src/config.ts
  src/hooks/useWorker.ts
  src/store/main.ts
  src/store/types.ts
  src/styled.ts
  src/theme.ts
  src/types.ts
  src/utils/calculate.ts
Due: prettier --write, eslint --fix

Add gh pages
  .github/workflows/deploy.yml
  pnpm-lock.yaml
  vite.config.js
Due: prettier --write, eslint --fix

add auto-save notification, set it to 10s
  src/App.tsx
  src/components/SaveIndicator/SaveIndicator.tsx
  src/components/SaveIndicator/styled.ts
  src/hooks/useWorker.ts
  src/store/main.ts
Due: prettier --write, eslint --fix

add CNAME
  public/CNAME
Due: none

fix path
  vite.config.js
Due: prettier --write, eslint --fix

fix orbiting
  src/components/Items/styled.ts
  src/components/OrbitalIcons/OrbitalIcons.tsx
  src/components/OrbitalIcons/styled.ts
  src/components/Trigger/Trigger.tsx
  src/components/Trigger/styled.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{md,js,json,html})
  eslint --fix: any of: *.{js,ts,tsx}
